<html lang="en">
  <head>
  </head>
  <body>
    <h1>Home</h1>
    <h2>Hello {{naming}}</h2>

    <form action="/add-question" method="post">
      <label for="question">Add Question:</label>
      <input type="text" id="question" name="question" required />
      <input type="hidden" name="name" value="{{naming}}" />
      <button type="submit">Submit</button>
    </form>

    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>

    <div>
      <h3>Questions:</h3>
      {{#each questions}}
        <div>
          <p>asks:
            {{user.name}}
            <a href="/question/{{this._id}}">{{question}}</a></p>
          {{#each this.replies}}{{/each}}
        </div>
      {{/each}}
    </div>

  </body>
</html>